# Игнорировать папку node_modules
node_modules/

# Игнорировать временные файлы
*.log
*.tmp

# Игнорировать файлы и папки, созданные IDE
.idea/
.vscode/

# Игнорировать папки, содержащие скомпилированные файлы
dist/
build/

# Игнорировать локальные настройки системы
.DS_Store
Thumbs.db

# Игнорировать файлы для деплоя или работы с конкретной платформой
.env
.env.local
.env.*.local

# Игнорировать кэш-файлы
*.cache/

# Игнорировать временные файлы тестирования
coverage/

# Игнорировать папки, создаваемые GitHub Actions
# В целом, рекомендуется не игнорировать .github/ для работы с GitHub Actions, но вы можете игнорировать временные файлы
.github/workflows/

# Игнорировать выходные файлы и логи
out/
logs/

# Игнорировать временные файлы редактора
*~

# Игнорировать файл package-lock.json
package-lock.json

# Игнорировать файл package.json
package.json
